* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
}

header {
  position: sticky;
  z-index: 2;
  top: 0px;
}

h1 {
  color: #009aca;
  text-align: center;
  font-size: 3.5rem;
  padding: 20px;
}

nav {
  background-color: #2e2f34;
}

.logo {
  padding: 0;
  width: 20rem;
}

.nav-item .nav-link {
  color: #fff281;
}

/*.nav-link-active {
  color: #fff281;
  font-style: underline;
}
 nav-link active????? */

.navbar-toggler {
  border: none;
  color: #2e2f34;
}

.navbar-toggler-icon {
  background-color: #fff281;
  text-decoration: #fff281;
  border-radius: 5px;
  /*  background-color: #009aca; */
}

/* sacarle el borde a cuando lo tenes seleccionado
- lo puse de color gris.*/

/* BOTON DE NAV DE ESCRIBIRSE- DESPUÉS VER DE CAMBIARLO, NO SE DEBEN PISAR LAS CLASES DE BS */
.btn-primary {
  color: #fff281;
  background-color: #009aca;
}

.btn-primary:hover {
  background-color: #fff281;
  color: #009aca;
}

/* FOOTER */
footer {
  background-color: #2e2f34;
  color: #fff281;
  text-align: center;
  padding: 20px;
}

.footer-sm {
  background-color: #2e2f34;
  color: #fff281;
  position: center;
  font-size: 2rem;
  padding: 10px;
  list-style: none;
  text-decoration: none;
}

/* PAGE INDEX */

/* HERO */
.hero__container {
  /*   width: 100%;
  height: 600px; */
  /*   display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  background-image: url(../img/hero.jpg);
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__box {
  width: 100%;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 5%;
  right: 5%;
}

.hero__text {
  font-size: 3rem;
  color: #fff281;
  padding: 0.5rem;
}

.hero__button {
  width: 15rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #009aca;
  color: #fff281;
  border-color: #fff281;
  transition: all 0.3s;
}

@media screen and (min-width: 1024px) {
  .hero__text {
    font-size: 5.5rem;
    left: 0%;
    right: 0%;
  }

  .hero__button {
    width: 25rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}

.hero__button:hover {
  background-color: #fff281;
  color: #009aca;
  border-color: #009aca;
  width: 25rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

/* BOX ABONOS */
.abono__container {
  display: inline-block;
  width: 80%;
  margin: 40px;
}

.abono__box {
  display: inline-block;
  background-color: #f3f3f3;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 5px #ddd;
}

@media screen and (min-width: 768px) {
  .abono__box {
    width: 40%;
    margin: 2%;
  }
}
.abono__header {
  background-color: #2e2f34;
  padding: 20px 20px 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #f3f3f3;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.abono__box:nth-child(2) .abono__header {
  background-color: #009aca;
}

.abono__box--basico {
  text-align: center;
  color: #009aca;
  font-size: 20px;
  margin-bottom: 0;
  background-color: #2e2f34;
  padding: 0 0 10px 0;
}

.abono__box--premium {
  text-align: center;
  color: #2e2f34;
  font-size: 20px;
  margin-bottom: 0;
  background-color: #009aca;
  padding: 0 0 10px 0;
}

.abono__description {
  padding: 0 20px 20px 20px;
}

.abono__description p {
  padding: 20px 0;
  margin: 0;
  text-align: center;
  border-top: 1px solid #ddd;
}

.abono__button {
  padding: 10px;
  max-width: 250px;
  text-align: center;
  background-color: #fff281;
  margin: 0 auto 20px;
  border-radius: 10px;
  border: 2px solid #009aca;
  transition: all 0.3s;
}

.abono__button a {
  color: #009aca;
  padding: 10px;
  font-size: 20px;
  transition: all 0.3s;
}

.abono__button:hover {
  background-color: #009aca;
  transition: all 0.3s;
  text-transform: uppercase;
}

.abono__button:hover a {
  color: #ddd;
  transition: all 0.3s;
}

/* CONTACTO/MAPA */

.contacto {
  display: grid;
  grid-area: "datos maps" "datos maps";
}

.maps {
  width: 100%;
  height: 250px;
}

.container__maps {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

/* PAGE INSCRIBIRME */
.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  margin: 50px;
}

.form__inscripcion {
  background-color: white;
  width: 440px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

/* .title {
  font-size: 3.5rem;
 margin: 20px 0 30px 0; 
  color: #009aca;
  text-align: center;
} */

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input__inscripcion {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.label__inscripcion {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #dadce0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.input__inscripcion:focus + .label__inscripcion {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #009aca;
}
.input__inscripcion:focus {
  border: 2px solid #009aca;
}

.input__inscripcion:not(:placeholder-shown) + .label__inscripcion {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.text__inscripcion {
  padding: 15px;
  font-size: 12px;
}

.button__inscripcion {
  width: 15rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #009aca;
  color: #fff281;
  border-color: #fff281;
  transition: all 0.3s;
}

.button__inscripcion:hover {
  background-color: #fff281;
  color: #009aca;
  border-color: #009aca;
  width: 19rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

.pages__button {
  font-size: 2rem;
  text-align: center;
  position: absolute;
  color: #fff281;
  border: #fff281 solid;
  border-radius: 1.5rem;
  width: 15rem;
  height: 3rem;
  background-color: transparent;
  align-items: center;
}

.pages__button:hover {
  color: #009aca;
  border-color: #009aca;
  text-transform: uppercase;
  transition: all 0.3s;
}

.no-padd {
  padding: 0;
  margin: 0;
  justify-self: center;
  align-self: center;
  align-items: center;
  align-content: center;
}

#contacto {
  color: #2e2f34;
  padding: 1rem;
}

.contacto__title {
  font-size: 2rem;
  color: #009aca;
  padding: 0 0 0 20px;
}

/* PAGE CLASES */
.gallery {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clases {
  font-size: 2rem;
  color: #fff281;
  text-align: center;
  background-color: #009aca;
  position: relative;
}

/* ANIMACION INDEX */
.ul-anim {
  display: flex;
  background-color: #009aca;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.li-anim {
  list-style: none;
  color: #fff281;
  font-size: 35px;
  letter-spacing: 10px;
  animation: iluminar 1.4s linear infinite;
  text-align: center;
}

.li-anim--oculta {
  color: #009aca;
  list-style: none;
}
@media (min-width: 768px) {
  .li-anim {
    font-size: 70px;
    letter-spacing: 15px;
  }
}

@keyframes iluminar {
  0% {
    color: #fff281;
    text-shadow: none;
  }
  90% {
    color: #2e2f34;
    text-shadow: none;
  }
  100% {
    color: #2e2f34;
    text-shadow: 0 0 7px #fff281, 0 0 50px #2e2f34;
  }
}

.li-anim:nth-child(1) {
  animation-delay: 0s;
}
.li-anim:nth-child(2) {
  animation-delay: 0.1s;
}
.li-anim:nth-child(3) {
  animation-delay: 0.2s;
}
.li-anim:nth-child(4) {
  animation-delay: 0.3s;
}
.li-anim:nth-child(5) {
  animation-delay: 0.4s;
}
.li-anim:nth-child(6) {
  animation-delay: 0.5s;
}
.li-anim:nth-child(7) {
  animation-delay: 0.6s;
}
.li-anim:nth-child(8) {
  animation-delay: 0.7s;
}
.li-anim:nth-child(9) {
  animation-delay: 0.8s;
}
.li-anim:nth-child(10) {
  animation-delay: 0.9s;
}
.li-anim:nth-child(11) {
  animation-delay: 1s;
}
.li-anim:nth-child(12) {
  animation-delay: 1.2s;
}

.yoga {
  background-image: url("../img/yoga.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.pilates {
  background-image: url("../img/pilates.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.funcional {
  background-image: url("../img/funcional.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.boxeo {
  background-image: url("../img/boxeo.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.crossfit {
  background-image: url("../img/crossfit.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.spinning {
  background-image: url("../img/spinning.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.btn__clases {
  font-size: 1.5rem;
  height: 3rem;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #009aca;
  color: #fff281;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn__clases--amarillo {
  font-size: 1.5rem;
  height: 3rem;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: #009aca;
  background-color: #fff281;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
