/* PAGE CLASES */
@each $clase in yoga, pilates, funcional, boxeo, crossfit, spinning {
  .#{$clase} {
    background-image: url("../img/#{$clase}.jpg");
    @include background;
    height: 400px;
  }
}

.clases__accordion {
  position: absolute;
  top: 62%;
  backdrop-filter: blur(10px);
  text-align: center;
  width: 100%;
  height: 10rem;
  color: #e2e3e8;
  cursor: pointer;
  font-size: 13px;
}

@media (min-width: 1048px) {
  .clases__accordion {
    font-size: 15px;
  }
}

/* PAGE INSCRIBIRME */
.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  @include background;
  background-image: url("../img/gimnera2.jpg");
}

.form__inscripcion {
  width: 440px;
  border-radius: 8px;
  padding: 20px 40px;
  color: white;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input__inscripcion {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
  background-color: white;
  &::placeholder {
    color: transparent;
  }
}

.label__inscripcion {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #dadce0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.input__inscripcion:focus + .label__inscripcion {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #009aca;
  border-radius: 5px;
}

.input__inscripcion:focus {
  border: 2px solid #009aca;
}

.input__inscripcion:not(:placeholder-shown) + .label__inscripcion {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.text__inscripcion {
  padding: 15px;
  font-size: 12px;
}

/* PAGE CONTACTO */
.contacto {
  background-image: linear-gradient(
    $secundary-color,
    $primary-color,
    $back-color
  );
}

.ofertas {
  border-radius: 2rem;
  border: 1px solid $secundary-color;
  color: $secundary-color;
}

.correo {
  width: 50%;
}
